[submodule "actemo-api-server"]
	path = actemo-api-server
	url = https://github.com/smmin21/ACTemo-API-Server.git
[submodule "actemo-ml-server"]
	path = actemo-ml-server
	url = https://github.com/smmin21/ACTemo-server.git
[submodule "actemo-flutter"]
	path = actemo-flutter
	url = https://github.com/e6d1fe/ACTemo-flutter.git
